<div class = "container-fluid">
<div class ="row">
<div class="col-lg-4">
</div>
<div class ="col-lg-4">

<% if flash[:alert] %>
    <aside class="notice"><%= flash[:alert] %></aside>
<% end %>

<%= form_tag do %>
    <center><h2>Please Log In</h2></center>
    <div class="field form-group">
        <%= label_tag :name, 'Username:'  %>
        <%= text_field_tag :name, params[:name],class: 'form-control'  %>
    </div>      
    <div class="field form-group">
        <%= label_tag :password, 'Password:'  %>
        <%= password_field_tag :password, params[:password] ,class: 'form-control' %>
    </div>
    <br>
    <div class="actions">
        <%= submit_tag "Login"  %>
    </div>
<% end %>
</div>

</div>

</div>