<div class = " container">
<div class ="row">
<div class ="col-lg-4 ">
</div>
<div class ="col-lg-4 ">

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <center><p style="">type your Name and Password to become a member</p></center>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name ,class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :password %>
    <%= form.password_field :password ,class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation ,class: 'form-control'%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
