<div class = " container">
<div class ="row">
<div class ="col-xs-6 ">
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :categories %>
    <%= form.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>
  </div>

    <div class="field form-group">
    <%= form.label :header_image %>
    <%= form.file_field :header_image , class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name , class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'form-control'  %>
  </div>

  <div class="field form-group">

    <%= form.label :publish_year %>
    <%= form.text_field :publish_year, class: 'form-control'  %>
  </div>

  <div class="field form-group">

  
    <%= form.label :price %>
    <%= form.number_field :price , class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :added_date %>
    <%= form.date_select :added_date , class: 'form-control' %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div></div></div>