  <div class="alert alert-success" role="alert">
  <%= notice %>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-6">
      <%= form_tag books_path, :method=> "get" , class:'form-inline' do%> 

        <div class="form-group mx-sm-3 mb-2">
      <%= text_field_tag :search , params[:search] , class:'form-control',placeholder:'Enter Book Name'%>
      </div>
       <%= submit_tag "Search" , :name  => nil , class:'btn btn-outline-secondary mb-2'%>
      <% end%>
  </div>

</div>
  </div>

  <div class="container">
    <div class="row-fluid">
    <div class="card-deck">
         <% @books.each do |book| %>
          <div class="col-sm-3 ">
          <div class="view overlay">
            <div class="card text-center" style="width:15rem;  margin:1rem;"> 
            <%= image_tag book.header_image.variant(resize: "300x300!"), class:'card-img'%>

    <center>
      <div class="card-body">
           <h5 class="card-title"><%= book.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Published in <%= book.publish_year %></h6>
      <p class="card-text">Category - <%= book.category.name %>
      </p>
      <p class="card-text">Author - <%= book.author %>
      </p>
      <p class="card-text">Price - <%= book.price%>
      </p>
      <% if session[:user_id] %>
          <% if session[:is_admin] %>
              <% if book.is_reserved %>
             <%= link_to 'Cancel Reservation', reservations_delete_path(book_id: book.id, user_id: @user_id), class:"btn btn-outline-dark btn-block" %>
              <%else%>
             <%= link_to 'Reserve Book', reservations_create_path(book_id: book.id, user_id: @user_id) , class:"btn btn-outline-dark btn-block"%></button>
              <% end %>
              
            
            <%else%>
               <%@user_id = session[:user_id]%>
             <% if book.is_reserved %>
        
               <% if Reservation.exists?(book_id: book.id, user_id: @user_id) %>
            <%= link_to 'Cancel Reservation', reservations_delete_path(book_id: book.id, user_id: @user_id), class:"btn btn-outline-dark btn-block"  %>
               <%else%>
              Book Reserved 
              <%end%>
           <%else%>
           <%= link_to 'Reserve Book', reservations_create_path(book_id: book.id, user_id: @user_id), class:"btn btn-outline-dark btn-block"  %>
              <% end %>
        
           <% end %>
      <% end %>
      </div>
  </div>
  </div>
  <center>
          </div>

         <% end%>
        </div>
    </div>
  </div>
  
  
  