

<center>
  <div class="card" style="width: 20rem;">
   <%= image_tag @book.header_image.variant(resize: "300x300")%>
 <div class="card-body">
      <h5 class="card-title"><%= @book.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Published in <%= @book.publish_year %></h6>
      <p class="card-text">Category - <%= @category.name %>
      </p>
      <p class="card-text">Author - <%= @book.author %>
      </p>
      <p class="card-text">Price - <%= @book.price%>
      </p>
      <% if session[:user_id] %>
      <% if session[:is_admin] %>
     <button type="button" class="btn btn-dark btn-lg btn-block"> <%= link_to 'Edit', edit_book_path(@book) %></button>
      <% end %>
      <% end %>

    </div>
  </div>
</center>


