<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>No. </th>
      <th>Name</th>
      
    </tr>
  </thead>

  <tbody>
    <% @categories.each_with_index do |category ,index| %>
      <tr>
     </tr>
        <td> <%= index+1%>
        <td><%= link_to category.name, category %></td>
    <% end %>
  </tbody>
</table>

<br>

