<p id="notice"><%= notice %></p>


<table class="table">
  <thead>
    <tr>
      
      <th><%= @category.name %> 
            <% if session[:user_id] %>
      <% if session[:is_admin] %><th>Action </th>
      <%end%>
      <%end%>
    </tr>
  </thead>
  <tbody>
    
      <% @books.each do |book| %>
      <tr>
      <td>
        <%= book.name %> 
      </td>
            <% if session[:user_id] %>
      <% if session[:is_admin] %>
      <td>
      <%= link_to 'Edit', edit_category_path(@category) %></th>
     
      </td>
      <%end%>
      <%end%>
      </tr>
      <% end %>

  </tbody>
</table>