<!DOCTYPE html>
<html>
  <head>
    <title>Bookshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
  </head>
 

  <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="navbar-brand mb-0 h1" >
        <%= link_to "BookShop" ,root_path ,class: "navbar-brand"%>
      </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav">
     <li class="nav-item active">
        <a class="nav-link" href="/books">Books </a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="/categories">Categories</a>
      </li>
         <% if session[:user_id] %>
          <% if session[:is_admin] %>
        <li class="nav-item active">
     <a class="nav-link" href="/book/new">Add Book</a>
     </li>
      <li class="nav-item active">
     <a class="nav-link" href="/categories/new">Add Categories</a>
     </li>
          <%end %>
          <% end%>
      
    </ul>
  </div>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
          <% if session[:user_id] %>
            <li class="nav-item active"><%= link_to 'Logout', logout_path, method: :delete ,class:'nav-link'%></li>
          <% else %>
            <li class="nav-item active"><a class="nav-link" href="/register">Sign Up</a></li>
            <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
          <% end %>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>



